<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Chest Exercises</title>
  </head>
  <body>
     <h1 class="text-5xl font-medium title-font text-center text-gray-900 mt-10 ">Chest Exercises</h1>
     <div class="h-0.5 w-auto bg-gray-200 rounded mt-10"></div>
    {{#each data}}
        <section class="text-gray-600 body-font overflow-hidden">
          <div class="container px-5 py-24 mx-auto">
            <div class="lg:w-4/5 mx-auto flex flex-wrap">
              <img
                alt="ecommerce"
                class="lg:w-1/2 w-full lg:h-auto  object-fit object-center rounded"
                src="{{this.E_url}}"
              />
              <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-4 lg:mt-0">
                <h1
                  class="underline-offset-8 text-gray-900 text-3xl title-font font-medium mb-2"
                >{{this.E_name}}</h1>
                <div class="h-1 w-20 bg-blue-500 rounded mb-10"></div>
                <div class = "mb-6 font-12">
                    <h2 class="tracking-widest text-md title-font font-medium text-gray-600 mb-6">{{this.E_desc}}</h2>
                </div>
                <div>
                    <p class="text-xs text-blue-500 tracking-widest font-medium title-font mb-1">Step1:</p>
                    <p class="text-xs text-grey-500 tracking-widest font-medium title-font mb-6">{{this.step1}}</p>
                </div>
                <div>
                    <p class="text-xs text-blue-500 tracking-widest font-medium title-font mb-1">Step2:</p>
                    <p class="text-xs text-grey-500 tracking-widest font-medium title-font mb-6">{{this.step2}}</p>
                </div>
                <div>
                    <p class="text-xs text-blue-500 tracking-widest font-medium title-font mb-1">Step3:</p>
                    <p class="text-xs text-grey-500 tracking-widest font-medium title-font mb-6">{{this.step3}}</p>
                </div>
                <div>
                    <p class="text-xs text-blue-500 tracking-widest font-medium title-font mb-1">Step4:</p>
                    <p class="text-xs text-grey-500 tracking-widest font-medium title-font mb-6">{{this.step4}}</p>
                </div>
                <div>
                     <p class="text-xs text-blue-500 tracking-widest font-medium title-font mb-1">Step5:</p>
                    <p class="text-xs text-grey-500 tracking-widest font-medium title-font mb-6">{{this.step5}}</p>
                </div>
                
              </div>
            </div>
          </div>
        </section>
      </div>
    {{/each}}
  </body>
</html>